section#default
	h1.p30 О нас
	include ../../../ui/bread
	.content
		p.bold.mb2.mt2 МЕБЕЛЬНАЯ КОНЦЕПЦИЯ ОТ  IDD OFFER
		p We offer other furniture! Мы создали для Вас уникальный каталог мебели, учитывая финансовые возможности каждого клиента, для B2C-модели и для B2B-модели.
		p Мы предлагаем Вам дизайнерскую современную мебель для любых квартир, загородной недвижимости, в том числе и для сегмента B2B любого масштаба.
		p Мы ценим индивидуальный стиль и хотим Вам помочь оформить Дом, или Отель так, чтобы он отражал ваш вкус в Вашем интерьере.Наша цель - это воплотить в жизнь Ваши мечты об Домашнем Интерьере!
		p.bold.mb2.mt2 Объединяем все нужное
		p Все для дома в одном месте! Наш большой ассортимент мебели позволит легко обустроить любую комнату Вашего дома.
		p С нашей помощью, ваша мебель будет качественной и красивой.
		p.bold.mb2.mt2 Стильная мебель для современного дома от IDD OFFER
		p В процессе создания домашнего интерьера стоит уделить особое внимание подбору стильной, надежной и качественной мебели для своего дома. 
		p Ведь с её помощью в доме установится уникальная атмосфера комфорта, она станет самой важной частью жилого пространства и показателем безупречного вкуса своего владельца.
		p Поэтому мы сделали все, чтобы Вы выбрали между хорошим и лучшим!

		p Наши клиенты, это тысячи людей и компаний, готовых делиться своими решениям, планировкой, выбранной мебелью, вариантами стилизации.
		p Ищите креативные идеи на нашем сайте http://iddoffer.by/ и создавайте окружающую теплую обстановку, которая будет вдохновлять Вас каждый день!
		p Обустраивайте свой дом с нашей помощью. Создавайте обстановку вместе с нами, которая делает ваши будни ярче!
		p.bold.mb2.mt2 УВАЖАЕМЫЕ ГОСТИ НАШЕГО САЙТА! ДОРОГИЕ ПРОФЕССИОНАЛЫ!
		p Компания ID HOME TRADE приглашает к сотрудничеству:
		p Архитекторов, Дизайнеров, Студии дизайна интерьеров, Управляющие компании в сфере гостеприимства, Отельеров, Девелоперов, Строительные компании. Мы рады креативным специалистам, которые не против стать нашим долгосрочным партнером. Тесное сотрудничество в единой команде даст перспективы обоюдного творческого и финансового роста.
		p Мы хотим делать это лучше вместе с вами!
		p.mt1 Добро пожаловать в комнату переговоров для обсуждения деталей взаимовыгодного сотрудничества!