section#contacts
	h1.p40 Контакты
	include ../../../ui/bread
	.content.mt2.mb2
		.table
			ul
				li
					span Наименование организации
					span ООО “Айди Хоум Трейд”
				li
					span УНП
					span 193687448
				li
					span Юридический адрес
					span 220062, г. Минск, пр. Победителей, д.141 пом. 3
				li
					span Почтовый адрес
					span 220062, г. Минск, пр. Победителей, д.141 пом. 3
				li
					span Расчетный счет в ЗАО “Альфа-банк”, ALFABY2X
					span BY45 ALFA 3012 2D41 0500 1027 0000
				li
					span Адрес банка
					span 220013 г. Минск, ул. Сурганова, 43-47
				li
					span Телефон
					span +375 (29) 3-777-555 / А1
				li
					span Электронная почта
					span info@iddoffer.by
			p Только в этом магазине сумела найти мебель для дачи из настоящего дерева! Приятно поразило обслуживание и цена доставки. Мне не пришлось искать самой транспорт от МКАДа, все было организовано быстро. В ближайшее время планирую купить у вас мебель и для спальни, и для беседки. Качеством уже приобретенной мебели очень довольна. Спасибо! Выбор мебели для гостиной - это, с одной стороны, занятие чрезвычайно приятное, а с другой - немного утомительное. Приятно, потому что есть возможность обустроить интерьер, где вы и ваши гости будут проводить время. Утомительно, потому что ассортимент большой. Мы вам поможем сделать достойный выбор и купить мебель для вашей гостиной.			
		.map
			span Map loading...