section.main
	h1.p40 Готовые решения
	include ./bread
section.gallery.mt1
	.swiper.main
		.swiper-wrapper
			.swiper-slide
				img(src="/assets/img/pages/ready/2b.jpg")
			.swiper-slide
				img(src="/assets/img/pages/ready/02.jpg")
			.swiper-slide
				img(src="/assets/img/pages/ready/03.jpg")
	.thumbs
		img.active(src="/assets/img/pages/ready/001.jpg")
		img(src="/assets/img/pages/ready/002.jpg")
		img(src="/assets/img/pages/ready/003.jpg")
		img(src="/assets/img/pages/ready/004.jpg")

section.content
	p Толщина ЛДСП: 16, 22, 10 мм
	ul
		li Фурнитура
			ul
				li Петли (Hettich, Германия)
				li Опора регулируемая Н-20мм
				li Система скрытых направляющих Quadro для выдвижных ящиков (Hettich, Германия)

		li Корпус
			ul
				li ЛДСП (ЛДСтП) 16 мм
	p Внимание! Нагрузка на корпус навесных модулей не должна превышать 40 кг. Настоятельно не рекомендуем крепить навесные модули к гипсокартонным стенам. Данные модули могут быть закреплены на перегородки из кирпича или бетона.
section.readyuse.mt2.mb2
	h2.p30 Компоненты готового решения
	ul
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
