footer
	.scripts-area
	.row
		nav.column
			ul
				li
					a(href="#") Каталог мебели
				li
					a(href="#") B2B
				li
					a(href="#") О нас
				li
					a(href="#") Контакты
		nav.column
			ul
				li
					a(href="#") Доставка
				li
					a(href="#") Оплата
				li
					a(href="#") Акции
				li
					a(href="#") Как сделать заказ
				li
					a(href="#") Где купить
				li
					a(href="#") Контакты
		nav.column
			ul
				li
					a(href="#") Дизайнерская мебель
				li
					a(href="#") Детская мебель
				li
					a(href="#") Мебель для дома
				li
					a(href="#") Мебель коммерческого назначения	
		nav.column
			ul
				li
					a(href="#") Мебель для гостиниц
				li
					a(href="#") Садовая мебель
				li
					a(href="#") Мебель на заказ
		.column.address
			ul
				li г. Минск
				li ул. Писателя, 1
				li info@iddoffer.by
				li
					a(href="#") +375 29 3-777-555
			img(src="/assets/img/icons/visa.webp" width="189" height="22")
		.column.soc
			ul
				li
					a(href="#" target="_blank") 
						img(src="/assets/img/ui/soc-black/pin.svg" width="30" height="30" loading="lazy")
				li
					a(href="#" target="_blank") 
						img(src="/assets/img/ui/soc-black/inst.svg" width="29" height="29" loading="lazy")
				li
					a(href="#" target="_blank") 
						img(src="/assets/img/ui/soc-black/fb.svg" width="29" height="29" loading="lazy")
				li
					a(href="#" target="_blank") 
						img(src="/assets/img/ui/soc-black/yt.svg" width="41" height="29" loading="lazy")
			a.logo(href="/")
				img(src="/assets/img/logo-black.svg" width="241" height="44" loading="lazy")
	p Вся информация о товарах и услугах представлена исключительно в ознакомительных целях и не является публичной офертой и основанием для рекламаций.		






					















			


