header
	a.logo(href="/")
		picture
			source(srcset="/assets/img/icons/lg.svg" media="(max-width: 768px)")
			img(srcset="/assets/img/logo-2x.jpg" width="341" height="104")
	.soc
		a(href="#")
			img(src="/assets/img/icons/pin.jpg" width="35" height="35")
		a(href="#")
			img(src="/assets/img/icons/fb.jpg" width="35" height="35")
		a(href="#")
			img(src="/assets/img/icons/inst.jpg" width="35" height="35")
		a(href="#")
			img(src="/assets/img/icons/yt.jpg" width="35" height="35")
	ul.addr
		li г. Минск, пр. Победителей, д.141 пом. 3
		li.hours 9:00 - 18:00 Пн - Пт
		li
			a(href="tel:+375 29 3-777-555") +375 29 3-777-555
	.cl
		.currency.dd
			span byn
			ul
				li byn
				li usd
				li eur
		//- .lang.dd
		//- 	span ru
		//- 	ul
		//- 		li ru
		//- 		li en
nav.header
	ul
		li.dd
			span каталог мебели
			ul
				li
					a(href="/cat.html") детская мебель
				li
					a(href="/cat.html") мебель для дома
				li
					a(href="/cat.html") дизайнерская мебель
		li.active
			a(href="/cat.html") мебель для детей
		li
			a(href="/cat.html") мебель для дома
		li
			a(href="/cat.html") дизайнерская мебель
		li
			a(href="/b2b.html") b2b
		li
			a(href="/about.html") о нас
		li
			a(href="/contacts.html") контакты
	.actions
		.search
			img(src="/assets/img/icons/search.svg" width="16" height="16")
			.area(style="display:none")
				form
					input(type="text" required placeholder="Поиск")
					button(type="submit") Найти
				.results
					ul
		a.cart(href="/cart.html")
			img(src="/assets/img/icons/cart.svg" width="16" height="18")
			span.circle 1
		.user
			img(src="/assets/img/icons/user.svg" width="16" height="24")
		#nav-icon1
			span
			span
			span
		#mobile_menu(style="display:none")
			ul
				li
					a(href="/") Главная
				li
					a(href="/b2b") B2B
				li
					a(href="/") О нас
				li
					a(href="/") Контакты
			hr
			ul
				li
					a(href="/") Дизайнерская мебель
				li
					a(href="/b2b") Детская мебель
				li
					a(href="/") Мебель для дома
				li
					a(href="/") Мебель коммерческого назначения
				li
					a(href="/") Мебель для гостиниц
				li
					a(href="/") Садовая мебель
				li
					a(href="/") Мебель на заказ
			hr
			.remove
				img(src="/assets/img/icons/can.svg")
				span Очистить локальную базу
