aside
	ul
		li.open
			span Дизайнерская мебель
			ul
				li
					a(href="#") Гостиные
				li
					a(href="#") Спальня
				li
					a(href="#") Мягкая мебель
				li
					a(href="#") Прихожая
				li
					a(href="#") Кухня
				li
					a(href="#") Ковры
				li
					a(href="#") Садовая мебель
				li
					a(href="#") Мебель для ванной
				li
					a(href="#") Мебель для погреба, винной
				li
					a(href="#") Галерея натурального камня
				li
					a(href="#") Стеновые панели
		li
			span Мебель для детей
			ul
				li
					a(href="#") Наборы мебели
				li
					a(href="#") Кровати
				li
					a(href="#") Шкафы
				li
					a(href="#") Комоды и тумбы
				li
					a(href="#") Стеллажи
				li
					a(href="#") Столы
				li
					a(href="#") Стулья
				li
					a(href="#") Пуфы и банкетки
				li
					a(href="#") Сундуки
				li
					a(href="#") Зеркала
				li
					a(href="#") Шкатулки
				li
					a(href="#") Ящики для игрушек
				li
					a(href="#") Ящики для игрушек
				li
					a(href="#") Предметы интерьера детской
		li
			span Мебель для дома
		li
			span Мебель коммерческого назначения
		li
			span Мебель для гостиниц
		li
			span Садовая мебель
		li
			span Мебель на заказ