section.files
		h3.p30 Файлы для скачивания
		ul
			li
				.icon
					img(src="/assets/img/icons/file.svg")
					span.ext PDF
				.dsc
					span.p20 Спецификация.pdf
					.row
						span.size 5.3 Мб
						a(href="#") Скачать
			li
				.icon
					img(src="/assets/img/icons/file.svg")
					span.ext DWG
				.dsc
					span.p20 Чертеж.dwg
					.row
						span.size 1.3 Мб
						a(href="#") Скачать
			li
				.icon
					img(src="/assets/img/icons/file.svg")
					span.ext MOV
				.dsc
					span.p20 Видеопрезентация.mov
					.row
						span.size 103 Мб
						a(href="#") Скачать
