#filter
	.item.dd.open
		span Цвет
		ul
			li
				label
					span.mark
					input(type="checkbox")
					span.name Черный
			li
				label
					span.mark
					input(type="checkbox")
					span.name Белый
	.item.dd
		span Бренд
		ul
			li
				label
					span.mark
					input(type="checkbox")
					span.name Гомельдрев
			li
				label
					span.mark
					input(type="checkbox")
					span.name Молодечномебель
			li
				label
					span.mark
					input(type="checkbox")
					span.name Пинскдрев
