#filter.loading
	//- .item.dd
	//- 	span Цвет
	//- 	ul
	//- 		li
	//- 			label
	//- 				input(type="checkbox" checked)
	//- 				span.mark
	//- 				span.name Черный
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name Белый
	//- .item.dd
	//- 	span Бренд
	//- 	ul
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name Гомельдрев
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name Молодечномебель
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name Пинскдрев
	//- .item.dd
	//- 	span Материал<br>фасада
	//- 	ul
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name цельное дерево
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name клееное дерево
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name филенчатый
	//- .item.dd
	//- 	span Материал <br> корпуса
	//- 	ul
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name ДСП
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name ДСП
	//- 		li
	//- 			label
	//- 				input(type="checkbox")
	//- 				span.mark
	//- 				span.name МДФ
	//- .item.dd
	//- 	span Размеры
	//- 	.size
	//- 		span Длина, мм
	//- 		.row
	//- 			input(type="number")
	//- 			input(type="number")
	//- 	.size
	//- 		span Ширина, мм
	//- 		.row
	//- 			input(type="number")
	//- 			input(type="number")
	//- 	.size
	//- 		span Высота, мм
	//- 		.row
	//- 			input(type="number")
	//- 			input(type="number")
	//- .item.design
	//- 	label
	//- 		input(type="checkbox" checked)
	//- 		span.mark
	//- 		span.name Дизайнерская
