#head-slider.swiper
	.swiper-wrapper
		.swiper-slide
			figure
				img(src="/assets/img/pages/index/slide/01.jpg" width="1500" heigth="326")
				figcaption
					span Мебель для детей
		.swiper-slide
			figure
				img(data-src="/assets/img/pages/index/slide/02.jpg")
				figcaption
					span Мебель для дома	
	.swiper-button-next
	.swiper-button-prev
	
