section.cart
	h1.p30 Корзина
	include ../../ui/bread
	.root.mt3
		.table
			table
				thead
					tr
						td Наименование
						td Цена, <span class="cur">р. </span>
						td Скидка
						td Количество
						td Итого, <span class="cur">р.</span>
						td
				tbody
					tr
						td.name
							a(href="#") Кабинет "Ольса-3"
							ul.stats
								li.colors
									span.name Цвет:
									.list
										span.active(style="background-color: #D9D9D9")
										span(style="background-color: #C2D2B5")
										span(style="background-color: #B8B5D2")
								li.material
									span.name Материал:
									span.selected Ольха
									ul
										li Ольха
										li Дуб
										li Липа
								li.comment
									span.name Комментарий:
									span.st
										img(src="/assets/img/icons/write.svg" width="15" height="15")
										span Написать
									textarea
						td.price(byn="3854") 3854
						td.disc 3%
						td.count
							input(type="number" min="1" value="1")
							.arrows
								img.up(src="/assets/img/icons/up.svg" width="11" height="6")
								img.down(src="/assets/img/icons/up.svg" width="11" height="6")
						td.itog(byn="3734.8") 3734.8
						td.remove
							img.remove(src="/assets/img/icons/cclose.svg" width="24" height="24")
			.itogo.p30
				span Итого:
				span(byn="3734.8") 3734,8
				span.cur р.
			button.continue Продолжить оформление	
		.fields
			h3.p30 Заполните поля
			form
				input(type="text" placeholder="Ваше имя" name="name" required)
				input(type="text" placeholder="Ваша почта" name="email" required)
				input(type="text" placeholder="Ваш номер телефона" name="phone" required)
				textarea(placeholder="Комментарий к заказу")
				button(type="submit") Отправить
