section.cart
	h1.p30 Корзина
	include ../../ui/bread
	.root.mt3
		.table
			//include ./desktop
			include ./mobile
			
			.itogo.p30
				span Итого:
				span(byn="3734.8") 3734,8
				span.cur р.
			button.continue Продолжить оформление	
		.fields
			h3.p30 Заполните поля
			form
				input(type="text" placeholder="Ваше имя" name="name" required)
				input(type="text" placeholder="Ваша почта" name="email" required)
				input(type="text" placeholder="Ваш номер телефона" name="phone" required)
				textarea(placeholder="Комментарий к заказу")
				button(type="submit") Отправить
