.mobile
	.item
		ul.left
			li.name Наименование
			li.price Цена, <span class="cur">р.</span>
			li.disc Скидка
			li.count Количество
			li.itog Итого, <span class="cur">р.</span>
		ul.right
			li.name
				a(href="#") Кабинет "Ольса"-3
			li.price(byn="3854") 3854
			li.disc 3%
			li.count Количество
			li.itog(byn="3734.8") 3737.8
			li
				ul.stats
					li.colors
						span.name Цвета
							ul
								li