section.main
	h1.p40 Готовые решения
	include ./bread
	.txt
		p Только в этом магазине сумела найти мебель для дачи из настоящего дерева! Приятно поразило обслуживание и цена доставки. Мне не пришлось искать самой транспорт от МКАДа, все было организовано быстро. В ближайшее время планирую купить у вас мебель и для спальни, и для беседки. Качеством уже приобретенной мебели очень довольна. Спасибо! Выбор мебели для гостиной - это, с одной стороны, занятие чрезвычайно приятное, а с другой - немного утомительное. Приятно, потому что есть возможность обустроить интерьер, где вы и ваши гости будут проводить время. Утомительно, потому что ассортимент большой. Мы вам поможем сделать достойный выбор и купить мебель для вашей гостиной.

section.readyuse.mt2.mb2
	ul
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") VIERA-WHITE
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") VIERA-SOFT
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") VIERA-GREY