section.main
	h1.p40 Комоды и тумбы
	include ./bread
	.txt
		p Только в этом магазине сумела найти мебель для дачи из настоящего дерева! Приятно поразило обслуживание и цена доставки. Мне не пришлось искать самой транспорт от МКАДа, все было организовано быстро. В ближайшее время планирую купить у вас мебель и для спальни, и для беседки. Качеством уже приобретенной мебели очень довольна. Спасибо! Выбор мебели для гостиной - это, с одной стороны, занятие чрезвычайно приятное, а с другой - немного утомительное. Приятно, потому что есть возможность обустроить интерьер, где вы и ваши гости будут проводить время. Утомительно, потому что ассортимент большой. Мы вам поможем сделать достойный выбор и купить мебель для вашей гостиной.
	include ./subcat-slider
section.prod
	include ../../ui/components/aside
	include ../../ui/components/prods
	include ../../ui/components/filter

section.discount
	h2.p30 Акционные предложения
	ul.prod-list.mt1
		li(data-prodid="20")
			img(src="/assets/img/ui/prod-list/01.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Выдвижные ящики для шкафов "Лебо"
			span.size 451 х 520 х 419
			.old-price
				span(byn="1200") 1200
				span.cur BYN
			.price
				span(byn="618") 618
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")
		li(data-prodid="21")
			img(src="/assets/img/ui/prod-list/02.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Белый журнальный столик Douceur
			span.size 451 х 520 х 419
			.old-price
				span(byn="300") 300
				span.cur BYN
			.price
				span(byn="120") 120
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")
		li(data-prodid="22")
			img(src="/assets/img/ui/prod-list/03.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Контейнер Nuage White
			span.size 451 х 520 х 419
			.old-price
				span(byn="600") 600
				span.cur BYN
			.price
				span(byn="300") 300
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")