
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title #{title}
		meta(name="description", content=description)
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="editedon" content="2023-08-22 16:42:07")
		
		

		include ../../ui/meta
		block head

	body(class=pageClass resid="19")
		//body(class=pageClass resid="11")
		include ../../ui/header
		include ./content
		include ../../ui/footer
