
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title #{title}
		meta(name="description", content=description)
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="editedon" content="-")
		//meta(name="editedon" content="27.07.2023 14:07:15")
		script(children).
			const children = [{"id":14,"editedon":"2023-07-17 15:38:52","cfg":"color,brand,material_facade,material_body,material_upholstery,size,design","parent":10},{"id":12,"editedon":0,"cfg":"color,brand,material_facade,material_body,material_upholstery,size,design","parent":10},{"id":13,"editedon":"2023-07-17 15:37:22","cfg":"color,brand,material_facade,material_body,material_upholstery,size,design","parent":10},{"id":11,"editedon":"2023-07-27 14:42:15","cfg":"color,brand,material_facade,material_body,material_upholstery,size,design","parent":10}] 
		
		block head

	//body(class=pageClass resid="11")
	body(class=pageClass resid="10")
		include ../../ui/header
		include ./content
		include ../../ui/footer
