.subcat-wrapper.mb2
	.arrows
		.swiper-button-next
		.swiper-button-prev
	.swiper.subcat
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/01.jpg" width="200" height="200")
					span Стандартные кровати
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/02.jpg" width="200" height="200")
					span Кроватки для новорожденных
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/03.jpg" width="200" height="200")
					span Кровати двухъярусные
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/04.jpg" width="200" height="200")
					span Кровати-домики
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/05.jpg" width="200" height="200")
					span Кровати-чердаки
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/05.jpg" width="200" height="200")
					span 1 - 2
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/05.jpg" width="200" height="200")
					span 2 - 2
			.swiper-slide
				a(href="#")
					img(src="/assets/img/pages/subcat/slide/05.jpg" width="200" height="200")
					span 3 - 2
