section.sub
	h1.p40 Комод "Купава" ГМ 8425
	include ../../ui/bread

section.gallery.mt2
	.wrap.thumbs
		.swiper.thumbs
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/3b2.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/01.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/02.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/03.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/04.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/01.jpg")
		.arrows
			.swiper-button-next
			.swiper-button-prev
	.swiper.main
		.swiper-wrapper
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/origin/b2.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/origin/051.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/02.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/03.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/04.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/01.jpg")
	.dsc
		.colors-click-q
			.colors
				span Доступные цвета:
				//- ul
				//- 	li.active
				//- 		span.color(style="background-color: #D9D9D9")
				//- 		span.name Серый №7042
				//- 	li
				//- 		span.color(style="background-color: #C79898")
				//- 		span.name Серый №7042 + антик
				ul.loading
					li
						span.color
						span.name
					li
						span.color
						span.name
			.click
				span Купить в 1 клик
				.cb.callback(style="display: none")
					img.close(src="/assets/img/icons/dclose.svg" height="28" width="28")
					form
						input(type="text" required placeholder="Ваш телефон")
						button(type="submit") Отправить

			.q
				span Задать вопроc
				.cb.q(style="display: none")
					img.close(src="/assets/img/icons/dclose.svg" height="28" width="28")
					form
						input(type="text" required placeholder="Ваша почта")
						textarea(required)
						button(type="submit") Отправить

		
		ul.stats
			li Артикул: <span class="article">16513</span>
			li Материал фасада: <span class="material_facade">массив ореха</span>
			li Страна: Германия
			li Бренд: Dormiente
			li Наличие: под заказ

		.price.discount
			.op
				span от
				span(byn="1660") 1660
				span.cur BYN
			.from
				span от
				span(byn="1260") 1260
				span.cur BYN
			.op
				span до
				span(byn="2600") 2600
				span.cur BYN
			.to
				span до
				span(byn="2260") 2260
				span.cur BYN

		.cart-compare
			button.cart(data-prodid="1") В корзину
			//- .compare
			//- 	img(src="/assets/img/icons/heart.svg" width="15" height="15")

		.share
			span Поделитесь
			.row
				a.vk(href="#")
					img(src="/assets/img/icons/vk.svg" width="27" height="27")
				a.tw(href="#")
					img.tw(src="/assets/img/icons/tw.svg" width="27" height="27")
				a.ok(href="#")
					img.ok(src="/assets/img/icons/ok.svg" width="27" height="27")

section.tabs.mt2
	ul.head
		li.active(data-index="0") Характеристики
		li(data-index="1") Доставка<span> и оплата</span>
		li(data-index="2") Спецификация
	.body
		.chars.open(data-index="0")
			ul.table
				li
					span Тип
					span
						a(href="#") Тумбы комбинированные
				li
					span Цвет / отделка
					span Серый №7042, Серый 7042+ антик №24
				li
					span Комната
					span Гостиная
				li
					span Изготовитель
					span Минский мебельный центр
			.dsc
				p Мебель изготавливается из массива дуба высокого качества, достойного апартаментов королевских особ и аристократов. Для декора поверхностей используются: осна выдерживает большие нагрузки при эксплуатации, не теряя своих свойств. Изделия из такого материала приобретают любители экологически чистых, гипоаллергенных товаров.
				ul
					li Патинирование специальным составом, подчеркивающим цвет и фактуру
					li Выполненная вручную резьба, фрезировка углов, полочек, дверей и т.д.
					li Дополнительные пилястры и накладки из натурального дерева согласно стилю
		.delivery(data-index="1")
			p Мебель изготавливается из массива дуба высокого качества, достойного апартаментов королевских особ и аристократов. Для декора поверхностей используются: осна выдерживает большие нагрузки при эксплуатации, не теряя своих свойств. Изделия из такого материала приобретают любители экологически чистых, гипоаллергенных товаров.
		.spec(data-index="2")
			include ../../ui/components/files

section.readyuse.mt2
	h2.p30 Этот продукт входит в 1 готовых решений
	ul
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN
		li
			img(src="/assets/img/pages/prod/ready.jpg" width="200" height="200")
			a(href="#") Кабинет "Ольса"-3
			.price
				span от
				span(byn="3618") 3618
				span.cur BYN

section.similar.mt3
	h2.p30 Похожие товары
	ul.prod-list.mt1
		li(data-prodid="1")
			img(src="/assets/img/ui/prod-list/01.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Выдвижные ящики для шкафов "Лебо"
			span.size 451 х 520 х 419
			.price
				span(byn="618") 618
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")
		li(data-prodid="2")
			img(src="/assets/img/ui/prod-list/02.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Белый журнальный столик Douceur
			span.size 451 х 520 х 419
			.price
				span(byn="120") 120
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")
		li(data-prodid="3")
			img(src="/assets/img/ui/prod-list/03.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Контейнер Nuage White
			span.size 451 х 520 х 419
			.price
				span(byn="300") 300
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")
		li(data-prodid="4")
			img(src="/assets/img/ui/prod-list/04.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Tipi Phosphorecent Rosa
			span.size 451 х 520 х 419
			.price
				span(byn="618") 618
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")
		li(data-prodid="5")
			img(src="/assets/img/ui/prod-list/05.jpg" width="302" heigth="288")
			.colors
				.item(style="background-color: #D9D9D9")
				.item(style="background-color: #F0D2D2")
			a(href="#") Attaccapanni Maison Bianco
			span.size 451 х 520 х 419
			.price
				span(byn="120") 120
				span.cur BYN
				img.cart(src="/assets/img/icons/bag.svg" width="20" heigth="23")

section.recently-viewed.mt2.mb2
	h2.p30 Вы недавно смотрели
	ul
		li
			img(src="/assets/img/pages/prod/recently-1.jpg" width="200" height="200" loading="lazy")
			a(href="#") Кабинет "Ольса"-3
		li
			img(src="/assets/img/pages/prod/recently-2.jpg" width="200" height="200" loading="lazy")
			a(href="#") Комод "Купава" ГМ 8425

