section.sub
	h1.p40 Комод "Купава" ГМ 8425
	include ../../ui/bread

section.gallery.mt2
	.wrap.thumbs
		.swiper.thumbs
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/01.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/02.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/03.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/04.jpg")
				.swiper-slide
					img(src="/assets/img/pages/prod/thumbs/01.jpg")
		.arrows
			.swiper-button-next
			.swiper-button-prev
	.swiper.main
		.swiper-wrapper
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/01.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/02.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/03.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/04.jpg")
			.swiper-slide
				img(src="/assets/img/pages/prod/slide/01.jpg")
	.dsc
		.colors-click-q
			.colors
				span Доступные цвета:
				ul
					li.active
						span.color(style="background-color: #D9D9D9")
						span.name Серый №7042
					li
						span.color(style="background-color: #C79898")
						span.name Серый №7042 + антик
			.click
				span Купить в 1 клик
			.q
				span Задать вопроc
		
		ul.stats
			li Артикул: 16513
			li Материал: массив ореха
			li Страна: Германия
			li Бренд: Dormiente
			li Наличие: под заказ

		.price
			.from
				span от
				span(byn="1260") 1260
				span.cur р.
			.to
				span от
				span(byn="2260") 2260
				span.cur р.

		.cart-compare
			button.cart(data-prodid="1") В корзину
			.compare
				img(src="/assets/img/icons/heart.svg" width="15" height="15")

		.share
			span Поделитесь
			.row
				img.vk(src="/assets/img/icons/vk.svg" width="27" height="27")
				img.tw(src="/assets/img/icons/tw.svg" width="27" height="27")
				img.ok(src="/assets/img/icons/ok.svg" width="27" height="27")

section.tabs.mt2
	ul.head
		li.active(data-index="0") Характеристики
		li(data-index="1") Доставка и оплата
		li(data-index="2") Спецификация
	.body
		.chars(data-index="0")
			ul.table
				li
					span Тип
					span
						a(href="#") Тумбы комбинированные
				li
					span Цвет / отделка
					span Серый №7042, Серый 7042+ антик №24
				li
					span Комната
					span Гостиная
				li
					span Изготовитель
					span Минский мебельный центр
			.dsc
				p Мебель изготавливается из массива дуба высокого качества, достойного апартаментов королевских особ и аристократов. Для декора поверхностей используются: осна выдерживает большие нагрузки при эксплуатации, не теряя своих свойств. Изделия из такого материала приобретают любители экологически чистых, гипоаллергенных товаров.
				ul
					li Патинирование специальным составом, подчеркивающим цвет и фактуру
					li Выполненная вручную резьба, фрезировка углов, полочек, дверей и т.д.
					li Дополнительные пилястры и накладки из натурального дерева согласно стилю
	


		.delivery(data-index="1")
		.spec(data-delivery="2")





