section.main
	
	include ../../ui/components/head-slider
	
	section.prod.mt1
		include ../../ui/components/aside
		include ../../ui/components/prods
		include ../../ui/components/filter
	
	include ./components/whywe

	section.block.mt3.mb2
		include ./components/about
		include ./components/reviews

	section.partners.mt2.mb3
		include ./components/partners

	section.map.loading.mb2
		span Map Loading...

