section.partners
	.row
		h2.p30 Наши партнеры
		.arrows
			.swiper-button-prev
			.swiper-button-next
	.swiper
		.swiper-wrapper
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/01.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/01.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/02.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/02.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/03.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/03.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/04.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/04.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/05.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/05.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/06.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/06.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/07.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/07.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/08.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/08.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/09.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/09.png")
			.swiper-slide
				picture
					source(srcset="/assets/img/pages/index/partners/01.webp" type="image/webp")
					img(src="/assets/img/pages/index/partners/01.png")