section.reviews
	h2.p30.pika Отзывы
	.swiper
		.swiper-wrapper
			.swiper-slide
				p.name Валентина Осеева
				p.txt Только в этом магазине сумела найти мебель для дачи из настоящего дерева! Приятно поразило обслуживание и цена доставки. Мне не пришлось искать самой транспорт от МКАДа, все было организовано быстро. В ближайшее время планирую купить у вас мебель и для спальни, и для беседки. Качеством уже приобретенной мебели очень довольна. Спасибо!
			.swiper-slide
				p.name Кир Булычев
				p.txt Только в этом магазине сумела найти мебель для дачи из настоящего дерева! Приятно поразило обслуживание и цена доставки. Мне не пришлось искать самой транспорт от МКАДа, все было организовано быстро. В ближайшее время планирую купить у вас мебель и для спальни, и для беседки. Качеством уже приобретенной мебели очень довольна. Спасибо!
	.swiper-pagination