section.whywe
	h2.p30 Почему мы?
	.row
		img(src="/assets/img/pages/index/why/598.jpg" width="504" heigth="334")
		ul
			li
				picture
					source(srcset="/assets/img/pages/index/why/w01.webp" type="image/webp")
					img(src="/assets/img/pages/index/why/01.png" width="72" heigth="72")
				span Качество по лучшей цене
				p Предметы декора по очень низким ценам, с которыми можно жить красивыми приключениями долгие годы.
			li
				picture
					source(srcset="/assets/img/pages/index/why/w02.webp" type="image/webp")
					img(src="/assets/img/pages/index/why/02.png" width="72" heigth="72")
				span Желание<br>угодить
				p Мы хотим сделать вашу жизнь красивее, поместив вас в центр нашего внимания.
			li
				picture
					source(srcset="/assets/img/pages/index/why/w03.webp" type="image/webp")
					img(src="/assets/img/pages/index/why/03.png" width="72" heigth="72")
				span Мы в вашем распоряжении
				p Мы - доступная и заботливая команда, которая сможет помочь вам любое время.
