section.main
	include ../../ui/components/head-slider
section.sub
	include ../../ui/bread
	ul.catlinks.mb2
		li
			a(href="#") Мебель для детей
		li
			a(href="#") Мебель для дома
		li
			a(href="#") Мебель коммерческого назначения
		li
			a(href="#") Мебель для гостиниц
		li
			a(href="#") Мебель на заказ
	.txt
		p Только в этом магазине сумела найти мебель для дачи из настоящего дерева! Приятно поразило обслуживание и цена доставки. Мне не пришлось искать самой транспорт от МКАДа, все было организовано быстро. В ближайшее время планирую купить у вас мебель и для спальни, и для беседки. Качеством уже приобретенной мебели очень довольна. Спасибо! Выбор мебели для гостиной - это, с одной стороны, занятие чрезвычайно приятное, а с другой - немного утомительное. Приятно, потому что есть возможность обустроить интерьер, где вы и ваши гости будут проводить время. Утомительно, потому что ассортимент большой. Мы вам поможем сделать достойный выбор и купить мебель для вашей гостиной.		

section.subtiles.mb3
	ul
		li
			img(src="/assets/img/pages/cat/tile01.jpg" width="700" height="441" loading="lazy")
			a(href="#d") Наборы мебели
		li
			img(src="/assets/img/pages/cat/tile02.jpg" width="700" height="441" loading="lazy")
			a(href="#") Кровати
		li
			img(src="/assets/img/pages/cat/tile01.jpg" width="700" height="441" loading="lazy")
			a(href="#") Наборы мебели
		li
			img(src="/assets/img/pages/cat/tile02.jpg" width="700" height="441" loading="lazy")
			a(href="#") Кровати


			



