header
	@include pw
	//display: flexG408
	//align-items: flex-end
	//justify-content: space-between
	display: grid
	grid-template-columns: 341px 320px 1fr 124px
	align-items: end
	padding-bottom: 1rem !important
	@media(max-width:990px)
		grid-template-columns: 1fr 1fr
		gap: 1rem
	@media(max-width:434px)
		gap: 0
		padding-top: 0
	a.logo
		@media(max-width:990px)
			grid-column: 1
			grid-row: 1/4
		img
			margin-top: 14px
			margin-bottom: -7px

		@media(max-width:768px)
			grid-row: 1 !important
			img	
				width: 202px
				height: 37px
	.soc
		width: 195px
		display: flex
		gap: 18px
		margin-left: 87px
		@media(max-width:990px)
			grid-column: 2
			grid-row: 1
			margin-left: auto
		@media(max-width:768px)
			width: auto
			gap: 12px
			img
				width: 25px
				height: 25px
		img:hover
			opacity: .9
	ul.addr
		display: flex
		font-family: "Vollkorn"
		font-weight: normal
		font-size: 17px
		@media(max-width:1370px)
			flex-direction: column
		@media(max-width:990px)
			grid-column: 2
			grid-row: 2
			text-align: right
			li
				margin-right: 0 !important
		@media(max-width:768px)
			grid-column: 1/3
			justify-content: space-between
		@media(max-width:434px)
			grid-column: 1/3
			text-align: left
			margin-top: 1rem
		li
			&:not(:last-child)
				margin-right: 45px
			@media(max-width:768px)	
				&.hours
					display: none
	.cl
		text-transform: uppercase
		display: flex
		font-family: "Montserrat"
		font-weight: 600
		@media(max-width:990px)
			grid-column: 2
			grid-row: 3
			margin-left: auto
		.currency
			margin-right: 2rem
		.currency, .lang
			position: relative
			cursor: pointer
			min-width: 50px
			&:after
				content: url(/assets/img/icons/chevron.svg)

nav.header
	@include mw
	display: flex
	border-top: 1px solid #000
	border-bottom: 1px solid #000
	justify-content: space-between
	align-items: center
	@media(max-width:768px)
		margin: 0
		padding: 0 1rem
	>ul
		display: flex
			
		li
			@media(max-width:1288px)
				display: none
				&.dd
					display: block
			text-transform: uppercase
			font-family: 'Rubik'
			&.active
				border-bottom: 2px solid #000
			&.dd
				padding: 15px 22px
				padding-left: 0
				position: relative
				cursor: pointer
				&:after
					content: url(/assets/img/icons/chevron.svg)
			a
				padding: 15px 22px
				display: inline-block
				&:hover
					text-decoration: none

	.actions
		display: flex
		width: 115px
		justify-content: space-between
		align-items: center
footer
	@include pw
	background-color: #7E8581
	padding-bottom: 30px
	.row
		padding-top: 50px
		display: flex
		align-items: flex-start
		justify-content: space-between
		@media(max-width:1030px)
			flex-wrap: wrap
			gap: 1rem
		.column
			font-family: 'Inter'
			font-weight: normal
			font-size: 1rem
			ul
				li
					line-height: 30px
			&.address
				img
					margin-top: 2rem
			&.soc
				align-self: flex-end
				ul
					display: flex
					gap: 1rem
					margin-bottom: 1rem
					img
						&:hover
							opacity: 0.6
	p
		margin: 0
		padding-bottom: 2rem
		padding-top: 70px
		font-family: 'Inter'
		font-weight: normal
		font-size: 12px

body.index-page
	#head-slider
		margin-top: 1rem
	section.block
		display: grid
		grid-template-columns: 1fr 1fr
		gap: 230px
		@media(max-width:1160px)
			gap: 50px
		@media(max-width:834px)	
			grid-template-columns: 1fr
			gap: 1rem
	nav.header
		@media(max-width:768px)
			border-bottom: 0
section.main
	@include mw
section.prod
	display: flex
	justify-content: space-between
	gap: 1rem
section.whywe
	.row
		background-color: #fff
		box-shadow: 20px 20px 0 #7E8581
		border: 1px solid #DBE3DE
		border-bottom: 0
		display: flex
		justify-content: space-between
		align-items: center
		@media(max-width:1060px)
			flex-direction: column
			gap: 1rem
			margin-bottom: 1rem
			box-shadow: none
			border: none
			>img
				width: 100%
				height: 334px
				object-fit: cover
			ul
				width: 90%
		@media(max-width:540px)
				margin: 0 -1rem
				ul
					flex-direction: column
					margin-top: 1rem !important
					li
						display: grid
						grid-template-columns: 80px 1fr
						max-width: 100%
						text-align: left
						margin-bottom: 1rem
						column-gap: 1rem
						picture
							grid-column: 1
							grid-row: 1/3
							align-self: center
						span
							grid-column: 2
							grid-row: 1
						p
							grid-column: 2
							grid-row: 2		
							font-size: 13px
		ul
			display: flex
			justify-content: space-between
			align-items: center
			flex-grow: 1
			margin: 0 112px
			@media(max-width:1365px)
				margin: 0 1rem
			li
				text-align: center
				max-width: 205px
				img
					margin: 0 auto
					margin-bottom: 1rem

				>span
					font-family: 'Montserrat'
					font-weight: 600
					font-size: 1rem
				p
					font-family: 'Inter'
					font-weight: 300
					font-size: 14px
section.about
	h2
		position: relative
	p
		font-family: 'Vollkorn'
		font-weight: normal
		color: #484848
section.reviews
	overflow: hidden
	position: relative
	@media(max-width:840px)
		.swiper-pagination
			bottom: -4px
	.swiper-pagination-bullet-active
		background-color: #376147
		
	p.name
		font-family: 'Vollkorn'
		font-weight: 600
		font-size: 18px
	p.txt
		font-family: 'Vollkorn'
		font-weight: normal
		font-size: 15px
		color: #484848
section.partners
	.row
		display: flex
		align-items: center
		.arrows
			position: relative
			left: 4rem
			top: 2px
			.swiper-button-prev
				left: 0
				right: 0
				margin-left: -2rem
			.swiper-button-next
				left: 0
				right: 0
			div
				transform: scale(0.4)
	.swiper-slide
		display: flex
		align-items: center
		min-height: 100px
section.map
	min-height: 285px
	@media(max-width:400px)
		margin-left: -1rem
		margin-right: -1rem

	iframe
		height: 258px
	&.loading
		display: flex
		align-items: center
		justify-content: center
		background-color: #eee

body.prod-page
	section.sub
		@include pw()
		h1.p40
			@media(max-width:500px)
				margin-top: 0
	section.gallery
		@include pw()
		display: flex
		@media(max-width:1160px)
			display: grid
			grid-template-columns: 1fr 237px
			margin-top: 0
			column-gap: 1rem
			.wrap.thumbs
				grid-column: 1
				grid-row: 2
				width: 90%
				margin: 0 auto
			.swiper.main
				grid-column: 1
				grid-row: 1
				margin-left: 0 !important
			.dsc
				grid-column: 2
				grid-row: 1/3
				padding-right: 1rem	
		@media(max-width:500px)
			grid-template-columns: 1fr
			
			.swiper.main
				grid-column: 1
				grid-row: 1
			.wrap.thumbs
				grid-column: 1
				grid-row: 2
			.dsc
				grid-column: 1
				grid-row: 3
				margin-top: 2rem

		.dsc
			min-width: 237px
			.colors-click-q
				font-family: 'Inter'
				font-weight: 500
				font-size: 14px
				color: #5C635F
				.colors
					>span:before
						content: url(/assets/img/icons/picker.svg)
						margin-right: 1rem
					ul
						margin-top: 20px
						margin-bottom: 20px
						margin-left: 30px
						&.loading
							li
								position: relative
								background-color: rgb(211,211,211)
								overflow: hidden
								border-radius: 5px
								height: 100%
								width: 100%
								min-height: 19px
								gap: 1rem
								margin-bottom: 1rem
								
								span.name
									height: 19px
									width: 100%
									background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05))
									animation: loading 1s infinite
									position: absolute
									left: -45%
									height: 100%
									width: 45%
									@keyframes loading
										0%
											left: -45%
										100%
											left: 100%
										
						li
							display: flex
							align-items: center
							cursor: pointer
							margin-bottom: 12px
							span
								pointer-events: none
							&:hover
								opacity: 0.6
							span.color
								display: inline-block
								width: 19px
								height: 19px
								border: 1px solid #8B8B8B
								border-radius: 50%
								margin-right: 10px

							&.active span.name
								text-decoration: underline
							&.active
								&:hover
									opacity: 1	
				.click
					margin-bottom: 1em
					>span:before
						content: url(/assets/img/icons/hand.svg)
						margin-right: 1rem
						position: relative
						top: 2px
				.q
					margin-bottom: 30px
					>span:before
						content: url(/assets/img/icons/mark.svg)
						margin-right: 1rem
						display: inline-block
						transform: translateY(3px)

			ul.stats
				font-family: 'Inter'
				font-weight: 500
				font-size: 14px
				margin-bottom: 14px
				li
					line-height: 25px
			.price
				font-family: 'Philosopher'
				font-weight: 600
				span[byn]
					display: inline-block
					margin: 0 10px
				.from
					span
						font-size: 22px
					span[byn], span.cur
						font-size: 35px
				.to
					span
						font-size: 22px
					span[byn], span.cur
						font-size: 35px
			.cart-compare
				display: flex
				align-items: center
				justify-content: space-between
				margin: 1rem 0
				@media(max-width:500px)
					justify-content: start
					gap: 1rem
				button.cart
					background-color: #7E8581
					font-family: 'Montserrat'
					font-weight: 500
					color: #fff
					font-size: 1rem
					padding: 20px 40px
					border: none
					border-radius: 3px
					cursor: pointer
					&:hover
						background-color: darken(#7E8581, 5%)
				.compare
					background-color: #D9D9D9
					width: 35px
					height: 35px
					border-radius: 50%
					display: flex
					align-items: center
					justify-content: center
					cursor: pointer
					&:hover
						background-color: darken(#D9D9D9, 5%)
			.share
				> span
					font-family: 'Philosopher'
					font-weight: 600
					font-size: 1rem
					display: inline-block
					margin-bottom: 5px
				.row
					display: flex
					gap: 14px
					cursor: pointer
					img
						&:hover
							filter: invert(53%) sepia(6%) saturate(268%) hue-rotate(93deg) brightness(97%) contrast(89%)
		.wrap.thumbs
			position: relative
			min-width: 238px
			.arrows
				position: absolute
				width: 100%
				top: 0
				bottom: 0
				.swiper-button-next
					transform: rotate(90deg) scale(0.5)
					bottom: -1rem
					left: calc(50% - 11px)
					top: auto
					@media(max-width:1160px)
						transform: rotate(0deg) scale(0.5)
						left: auto
						right: -2rem
						top: 70px
					@media(max-width:500px)	
						top: calc(50% + 11px)
				.swiper-button-prev
					transform: rotate(90deg) scale(0.5)
					top: 0
					left: calc(50% - 11px)
					@media(max-width:1160px)
						transform: rotate(0deg) scale(0.5)
						left: -2rem
						top: 70px
					@media(max-width:500px)	
						top: calc(50% + 11px)
			.swiper-thumbs
				height: 513px
				position: relative
				margin-top: 1rem
				@media(max-width:1160px)
					height: auto
				.swiper-slide
					border: 1px solid #c7c7c7
					width: 236px
					height: 107px !important
					display: flex
					justify-content: center
					align-items: center
					@media(max-width:1160px)
						width: auto
						box-sizing: border-box
					@media(max-width:500px)	
						height: auto !important
					&.swiper-slide-thumb-active
						border-color: #8d8d8d
		.swiper.main
			width: 995px
			height: 553px
			border: 1px solid #C7C7C7
			@media(max-width:1534px)
				margin: 0 1rem
			@media(max-width:1160px)
				width: 100%
				height: auto
			img
				margin: 0 auto
				object-fit: scale-down
	section.tabs
		@include pw()
		@media(max-width:400px)
			margin: 1rem -1rem
		ul.head
			display: flex
			gap: 20px
			font-family: 'Inter'
			font-weight: normal
			font-size: 14px
			@media(max-width:500px)
				gap: 0
				li
					span
						display: none
			li
				padding: 5px 15px
				cursor: pointer
				&:hover
					opacity: 0.5
				&.active
					border-bottom: 2px solid #000
		.body
			border: 1px solid #C7C7C7
			.chars, .delivery, .spec
				display: none
				&.open
					display: block
			.chars
				ul.table
					font-family: 'Inter'
					font-weight: normal
					font-size: 14px
					margin-left: 1rem
					li
						display: flex
						align-items: center
						padding: 10px 0
						&:nth-of-type(2n)
							background-color: #F0F0F0
							margin-left: -1rem
							padding-left: 1rem
						>span
							min-width: 227px
							@media(max-width:500px)
								min-width: 110px
						a
							text-decoration: underline
							&:hover
								text-decoration: none
				.dsc
					font-family: 'Inter'
					font-weight: normal
					font-size: 14px
					color: #4D4D4D
					padding: 1rem
					ul
						padding-left: 1rem
						li
							list-style-type: disc
			.delivery
				font-family: 'Inter'
				font-weight: normal
				font-size: 14px
				color: #4D4D4D
				padding: 1rem
			.spec
				padding: 1rem
section.readyuse
	@include pw()
	@media(max-width:400px)
		h2.p30
			margin-top: -2rem
	ul
		display: flex
		gap: 1rem
		flex-wrap: wrap
		li
			position: relative
			@media(max-width:400px)
				display: grid
				grid-template-columns: 115px 1fr
				column-gap: 1rem
				img
					grid-column: 1
					grid-row: 1/3
					width: 115px
					height: 110px
				a
					grid-column: 2
					grid-row: 1
					margin: 0
				.price
					grid-column: 2
					grid-row: 2
					margin-top: -2rem
			a
				font-family: 'Montserrat'
				font-weight: normal
				display: inline-block
				margin: 14px 0
				&:after
					position: absolute
					inset: 0
					content: ""
			.price
				font-family: "Inter"
				color: #376147
				font-weight: 600
				span:first-of-type
					font-weight: normal
				span[byn]
					display: inline-block
					margin: 0 5px
section.similar
	@include pw()
	ul.prod-list
		@media(max-width:1000px)
			li
				max-width: inherit
				display: grid
		li
			max-width: 287px
			transform: scale(0.95)
			display: flex
			flex-direction: column
			justify-content: space-between
section.recently-viewed
	@include pw()
	ul
		display: flex
		gap: 28px
		flex-wrap: wrap
		li
			position: relative
			a
				display: block
				margin-top: 14px
				font-family: 'Montserrat'
				font-weight: normal
				font-size: 1rem
				&:after
					position: absolute
					content: ""
					inset: 0
section.files
	ul
		display: flex
		gap: 40px
		align-items: center
		flex-wrap: wrap
		li
			display: flex
			align-items: center
			.icon
				position: relative
				margin-right: 27px
				.ext
					position: absolute
					top: 18px
					left: 3px
					font-family: 'Inter'
					font-weight: 700
					font-size: 8px
			.dsc
				.row
					display: flex
					align-items: center
					gap: 1rem
					font-family: 'Inter'
					font-weight: 500
					color: #928B8B
					margin-top: 4px
					a
						color: #928B8B
						text-decoration: underline
						&:hover
							text-decoration: none

body.cat-page
	#head-slider
		margin-top: 1rem
	section.sub
		@include pw()
		nav.bread
			margin: 2rem 0
		ul.catlinks
			display: flex
			gap: 20px
			font-family: 'Inter'
			font-weight: normal
			font-size: 14px
			flex-wrap: wrap
			li
				a
					text-decoration: underline
					&:hover
						text-decoration: none
				&:not(:last-child)
					position: relative
					&:after
						content: "|"
						color: #D3D3D3
						font-weight: bold
						margin-left: 20px
		.txt
			font-family: 'Vollkorn'
			font-weight: normal
			font-size: 22px
			color: #000
			p
				line-height: 31px
section.subtiles
	@include pw()
	ul
		gap: 100px
		display: grid
		grid-template-columns: 1fr 1fr
		@media(max-width:1144px)
			gap: 50px
		@media(max-width:732px)
			gap: 20px
		@media(max-width:590px)	
			grid-template-columns: 1fr
		li
			position: relative
			z-index: 0
			&:hover img
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25)
			img
				pointer-events: none
				cursor: pointer
				height: auto
			a
				text-decoration: underline
				font-family: 'Montserrat'
				font-weight: normal
				font-size: 18px
				display: block
				margin-top: 38px
				text-align: center
				&:hover
					text-decoration: none
				&::after
					content: ""
					position: absolute
					inset: 0
					z-index: -1

body.subcat-page
	section.main
		.txt
			font-family: 'Vollkorn'
			font-weight: normal
			font-size: 22px
			color: #000
			line-height: 31px

		.subcat-wrapper
			.arrows
				position: relative
				width: 50px
				height: 22px
				margin-bottom: 1rem
				div
					transform: scale(0.5)
				.swiper-button-next
					right: -9px
				.swiper-button-prev
					left: -7px
			.swiper-wrapper
				.swiper-slide
					font-family: 'Montserrat'
					font-weight: normal
					font-size: 1rem
					text-align: center
					img, a
						@media(max-width:400px)
							width: 150px
							height: 150px
					a
						width: 200px
						display: inline-block
						&:hover
							span
								text-decoration: underline
					span
						display: inline-block
						margin-top: 12px
	section.prod
		@include pw()
section.discount
	width: 928px
	margin: 3rem auto
	@media(max-width:980px)
		width: 100%
		margin: 1rem
	ul.prod-list
		li
			display: flex
			flex-direction: column
			justify-content: space-between
			position: relative
			@media(max-width:1000px)
				display: grid
				&:after
					right: auto
					left: 0
			&:after
				position: absolute
				content: url(/assets/img/icons/disc.svg)
				right: 0
				top: 0
				display: block
				width: 44px
				height: 40px
			span.size
				margin: 5px 0
			.old-price
				font-family: 'Inter'
				font-weight: 600
				color: #8D8D8D
				margin: 5px 0
				text-decoration: line-through
				display: inline-block
				font-size: 14px
				@media(max-width:1000px)
					grid-column: 2
					grid-row: 3
			.price
				span
					color: #F46340
				img.cart
					margin-top: -2px
					filter: brightness(0) saturate(100%)
					filter: invert(50%) sepia(67%) saturate(2771%) hue-rotate(336deg) brightness(99%) contrast(92%)
section#default
	@include pw()
	.default-swiper
		@media(max-width:400px)
			h2.p30
				margin-bottom: -1rem
	.content
		font-family: 'Vollkorn'
		font-weight: normal
		font-size: 1rem
		a
			text-decoration: underline
			&:hover
				text-decoration: none
		.v14
			font-size: 14px
		ul.v14
			padding-left: 2rem
			li
				list-style-type: disc
				line-height: 28px
		.bold
			font-weight: 600
section#contacts
	@include pw()
	.content
		display: grid
		grid-template-columns: 1fr 1fr
		gap: 1rem
		@media(max-width:870px)
			grid-template-columns: 1fr
		.table
			font-family: 'Montserrat'
			font-size: 1rem
			@media(max-width:500px)
				margin: 1rem -1rem
				p
					margin: 1rem
			li
				display: flex
				justify-content: space-between
				padding: 1rem
				@media(max-width:500px)
					flex-direction: column
					gap: 1rem
				&:nth-of-type(2n)
					background-color: #F0F0F0
				span
					&:first-of-type
						font-weight: 600
					&:last-of-type
						font-weight: normal
			p
				font-family: Vollkorn
				font-size: 15px
				font-weight: normal
				color: #484848
		.map
			background-color: #eee
			display: flex
			align-items: center
			justify-content: center
			@media(max-width:500px)
				height: 380px
section.cart
	@include pw()
	.root
		min-height: 50vh
		display: flex
		//justify-content: space-between
		@media(max-width:550px)
			flex-direction: column
		&.loading
			padding: 1rem
			background-color: #eee
			margin: 1rem 0
			position: relative
			&:after
				position: absolute
				content: "Загрузка товаров..."
				top: 8px
				left: 1rem
		.fields
			max-width: 237px
			margin-left: 70px
			@media(max-width:550px)
				margin-left: 0
				margin-top: 1rem
			.p30
				margin-top: 0
			form
				display: flex
				flex-direction: column
				gap: 1rem
				input, textarea
					border: 1px solid #C7C7C7
					font-family: 'Inter'
					color: #989898
					font-size: 14px
					padding: 8px
				button
					width: 136px
					background-color: #E7E7E7
					border: none
					cursor: pointer
					padding: 11px 25px
					font-family: 'Inter'
					font-size: 14px
					&:hover
						background-color: #eee
		.table
			min-width: 815px
			@media(max-width:1146px)
				min-width: inherit
				//width: 100%
			table.desktop
				border-collapse: collapse
				width: 100%
				font-family: 'Montserrat'
				font-size: 1rem
				thead
					background-color: #F0F0F0
					font-weight: 600
					tr td 
						padding: 10px
				tbody
					font-weight: 400
					tr td
						padding: 10px
						vertical-align: top
					td.name, td.price, td.disc, td.itog
						padding-top: 1rem	
					td.remove
						img
							cursor: pointer
							&:hover
								opacity: 0.6	
					td.name
						ul.stats
							//display: none
							margin-top: 2rem
							>li
								&:not(:last-child)
									margin-bottom: 1rem
								span.name
									font-weight: 600
									font-size: 14px
								&.colors
									display: flex
									align-items: center
									.list
										margin-left: 1rem
										span
											display: inline-block
											height: 15px
											width: 15px
											border-radius: 50%
											border: 1px solid transparent
											cursor: pointer
											&:hover
												opacity: 0.8
											&.active
												border-color: #A3A3A3
											&:not(last-child)
												margin-right: 10px
								&.material
									span.name
										display: inline-block
										margin-right: 10px
									span.selected
										position: relative
										&:after
											content: url(/assets/img/icons/c612.svg)
											position: absolute
											transform: rotate(90deg)
											margin-left: 10px
									ul
										display: none		
								&.comment
									span.name
										display: inline-block
										margin-right: 10px
									.st
										display: inline-flex
										align-items: center
										color: #7B7B7B
										font-size: 14px
										img
											margin-right: 10px
									textarea
										display: none		
					td.count
						display: flex
						align-items: center

						input
							width: 52px
							height: 33px
							background-color: #E7E7E7
							border: none
							text-align: center
							&:focus
								border: none
								outline: none
								background-color: darken(#E7E7E7, 5%)
							&::-webkit-outer-spin-button,
							&::-webkit-inner-spin-button
								-webkit-appearance: none
								-moz-appearance: textfield !important
								margin: 0
						.arrows
							display: flex
							flex-direction: column
							height: 33px
							justify-content: space-around
							margin-left: 10px
							img
								cursor: pointer
								&:hover
									opacity: 0.7
							.down
								transform: rotate(180deg)
			.mobile
				margin-top: -1rem
				margin-left: -1rem
				margin-right: -1rem
				.item
					display: flex
					border: 1px solid #D9D9D9
					font-family: 'Montserrat'
					ul.left
						background-color: #D9D9D9
						font-weight: 600
						font-size: 1rem
						padding: 1rem
						>li
							&:not(:last-child)
								margin-bottom: 1rem
							&.count
								margin: 24px 0	
					ul.right
						padding: 1rem
						font-weight: normal
						li.count
							display: flex
							align-items: center
							
							.wrap
								display: flex
								align-items: center
								gap: 1rem
								margin-right: 2rem
								input
									border: none
									background-color: #E7E7E7
									width: 52px
									height: 38px
									text-align: center
									&:focus
										border: none
										outline: none
										background-color: darken(#E7E7E7, 5%)
									&::-webkit-outer-spin-button,
									&::-webkit-inner-spin-button
										-webkit-appearance: none
										-moz-appearance: textfield !important
										margin: 0
							
						>li
							&:not(:last-child)
								margin-bottom: 1rem			
							ul.stats
								font-family: 'Inter'
								font-size: 14px
								>li
									&:not(:last-child)
										margin-bottom: 1rem								
									&.colors
										ul
											display: inline-flex
											gap: 10px
											align-items: center
											margin-left: 1rem
											li
												width: 15px
												height: 15px
												border: 1px solid transparent
												border-radius: 50%
												&.active
													border-color: #606060
									&.material
										ul
											display: none
										&.open
											display: block
										span.name
											display: inline-block
											margin-right: 10px
										span.selected
											position: relative
											&:after
												position: absolute
												content: url(/assets/img/icons/c612.svg)
												transform: rotate(90deg)
												//display: block
												margin-left: 10px
									&.comment
										button
											background-color: transparent
											border: none
											display: flex
											align-items: center
											color: #7B7B7B
											padding: 0
											margin-top: 10px
											img
												margin-right: 10px
										textarea
											display: none
										&.open
											display: block

			.itogo
				margin-top: 30px
				margin-bottom: 20px
				span[byn]
					display: inline-block
					margin: 0 10px
			button.continue
				background-color: #E7E7E7		
				font-family: 'Inter'
				font-weight: normal
				font-size: 14px
				padding: 11px 25px
				border: none
				cursor: pointer
				&:hover
					background-color: darken(#E7E7E7, 5%)
aside
	max-width: 236px
	@media(max-width:740px)
		display: none
	>ul > li
		font-family: "Montserrat"
		font-weight: 600
		display: inline-block
		width: 100%
		position: relative
		cursor: pointer
		&.open >span:after
			transform: rotate(-90deg)
		>span
			pointer-events: none
			&:after
				content: url(/assets/img/icons/c612.svg)
				width: 6px
				height: 12px
				position: absolute
				right: 0
				top: 2px
		&:hover span
			opacity: 0.6
		&:not(:last-of-type)
			margin-bottom: 18px

	ul li ul
		display: none
		margin: 1rem
		margin-left: 10px
	ul li.open ul
		display: block
	ul li ul li
		font-weight: normal
		font-size: 14px
		margin-bottom: 14px
#prods
	flex-grow: 1
	margin-left: 66px
	@media(max-width:740px)
		margin-left: 0
#pagination
	display: flex
	min-height: 51px
	justify-content: space-between
	border: 1px solid #C0BFBB
	align-items: center
	@media(max-width:1000px)
		margin-right: 28px
	ul.pages
		display: flex
		font-family: "Montserrat"
		font-weight: 600
		align-items: center
		&.loading
			position: relative
			padding: 10.5px
			&:after
				content: url(/assets/img/icons/loader.svg)
				display: block
				width: 30px
				height: 30px
				animation: spin 2s linear infinite
				//position: absolute
				left: calc(56% - 40px)
				top: 40%
				@keyframes spin
					to
						transform: rotate(360deg)
				
		li
			height: 100%
			&.next
				img
					display: inline
					transform: translateY(1px)
				//@media(max-width:400px)
					//display: none
			&.active
				background-color: #C0BFBB
			&:hover
				background-color: #C0BFBB
			a
				padding: 16px 20px
				display: block
				border-right: 1px solid #C0BFBB
				height: 100%
				&:hover
					text-decoration: none
				@media(max-width:400px)
					padding: 12px 14px
	.sort
		font-family: "Montserrat"
		font-size: 14px
		font-weight: 600
		margin-right: 44px
		cursor: pointer
		&:hover > span
			opacity: 0.6
		@media(max-width:1000px)	
			flex-grow: 1
			text-align: right

		span
			position: relative
			cursor: pointer
			//pointer-events: none
			&:after
				content: url(/assets/img/icons/c612.svg)
				position: absolute
				transform: rotate(90deg)
				right: -20px
				top: 2px
		ul
			background-color: #fff
			box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2)
			font-weight: normal
			padding: 1rem
			z-index: 2
			@media(max-width:1000px)
				right: 45px
			li
				line-height: 27px
				cursor: pointer
				&:hover
					opacity: 0.6
	img.filter
		@media(max-width:1000px)
			display: block !important
			margin-right: -2rem
ul#chips
	display: flex
	gap: 1rem
	flex-wrap: wrap
	li
		border: 1px solid #C7C7C7
		font-family: "Montserrat"
		font-weight: 600
		text-transform: uppercase
		padding: 13px 20px
		display: flex
		align-items: center
		justify-content: space-between
		img
			margin-left: 1rem
			cursor: pointer
			&:hover
				opacity: 0.6
ul.prod-list
	display: flex
	gap: 1rem
	flex-wrap: wrap
	@media(max-width:1000px)
		flex-direction: column
	li
		position: relative
		z-index: 0
		max-width: 298px
		>img
			min-height: 288px
			min-width: 302px
			background-color: #eee
		@media(max-width:1000px)
			display: grid
			grid-template-columns: 115px 1fr
			column-gap: 26px
			max-width: inherit
			>img
				width: 115px
				height: 110px
				grid-column: 1
				grid-row: 1/3
			.color
				grid-column: 1
				grid-row: 2
			a
				grid-column: 2
				grid-row: 1
			span.size
				grid-column: 2
				grid-row: 2
				margin: 0
				//margin-top: 30px
			.price
				grid-column: 2
				grid-row: 3
				margin-top: -52px
		a
			font-family: 'Inter'
			font-weight: normal
			display: block
			font-size: 1rem
			&:hover
				//text-decoration: none
			&:before
				position: absolute
				content: ''
				inset: 0
		.colors
			margin-top: 12px
			margin-bottom: 1rem
			display: flex
			gap: 10px
			min-height: 25px
			&.loading
				position: relative
				opacity: 0.5
				&:after
					content: url(/assets/img/icons/loader.svg)
					display: block
					width: 20px
					height: 20px
					animation: spin 2s linear infinite
					//position: absolute
					left: calc(56% - 40px)
					top: 40%
					@keyframes spin
						to
							transform: rotate(360deg)

			@media(max-width:1000px)
				justify-content: center
				margin-top: 7px
			.item
				width: 25px
				height: 25px
				border-radius: 50%
				border: 1px solid transparent
				@media(max-width:1000px)
					width: 13px
					height: 13px
		span.size
			display: block
			font-family: 'Inter'
			color: #AAAAAA
			font-size: 14px
			font-weight: normal
			margin: 18px 0
		.price
			display: flex
			align-items: center
			span
				font-family: 'Inter'
				font-weight: bold
				color: $green
				display: block
				&.cur
					margin-left: 5px
					margin-right: 25px
			img
				position: relative
				z-index: 3
				cursor: pointer
				&:hover
					opacity: 0.5
#filter
	min-width: 238px
	width: 238px
	border: 1px solid #C7C7C7
	padding: 18px 24px
	align-self: flex-start
	min-height: 416px
	@media(max-width:1000px)
		display: none
	&.loading
		position: relative
		&:after
			content: url(/assets/img/icons/loader.svg)
			display: block
			width: 40px
			height: 40px
			animation: spin 2s linear infinite
			position: absolute
			left: calc(56% - 40px)
			top: 40%
			@keyframes spin
				to
					transform: rotate(360deg)
	.item
		&.open
			>span::after
					transform: scaleY(-1)
			.size
				display: block
		&:not(:last-child)
			margin-bottom: 35px

						

		ul
			position: relative
			margin: 35px 0
			li
				&:not(:last-child)
					margin-bottom: 13px
				label
					display: flex
					align-items: center
					cursor: pointer
					input[type="checkbox"]
						display: none
						&:checked ~ .name
							color: #028f38
						&:checked ~ .mark
							&:after
								content: ''
								width: 11px
								height: 11px
								display: block
								background-color: #C0BFBB
								position: absolute
								left: 3px
								top: 3px

					span.mark
						border: 1px solid #C7C7C7
						width: 19px
						min-width: 19px
						height: 19px
						min-height: 19px
						display: inline-block
						margin-right: 17px
						position: relative

					span.name
						font-family: 'Montserrat'
						font-weight: 500
						font-size: 14px
						&:hover
							opacity: 0.5
		>span
			font-family: 'Montserrat'
			font-weight: 600
			font-size: 14px
			text-transform: uppercase
			position: relative
			display: inline-block
			width: 100%
			cursor: pointer
			&:after
				content: url(/assets/img/icons/c612.svg)
				transform: rotate(90deg)
				position: absolute
				right: 0
				top: calc(50% - 9px)
		.size
			margin-top: 1rem
			display: none
			.row
				display: flex
				gap: 1rem
				position: relative
				&:after
					content: "-"
					position: absolute
					top: 25%
					left: 66px
			>span
				font-family: 'Montserrat'
				font-size: 14px
				font-weight: 500
				display: inline-block
				margin-bottom: 5px
			input
				max-width: 60px
				height: 32px
				border: 1px solid #c7c7c7
				padding-left: 7px
				&:focus
					outline: none
					background-color: #d9d9d930
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button
					-webkit-appearance: none
					margin: 0
	.item.design
		label
			display: flex
			align-items: center
			cursor: pointer
			&:hover
				opacity: 0.8
			input
				display: none
				&:checked ~ .mark
					&:after
						display: block
						position: absolute
						content: ''
						width: 11px
						height: 11px
						background-color: #c0bfbb
						top: 3px
						left: 3px

			span.mark
				position: relative
				display: inline-block
				width: 19px
				height: 19px
				border: 1px solid #c7c7c7
				margin-right: 10px
			span.name
				font-family: 'Montserrat'
				font-weight: 500
				font-size: 14px
